# Conditionals

## Note: Python executes from top to bottom and left to right

#Types:

if
if else
multiple if
elif

In [2]:
number = 4

# elif

In [3]:
if number%2 == 0:
    print("This is an even number")
elif number%3 == 1:
    print("This is an odd number")
elif number%4 == 0:
    print("This is a multiple of 3")
else:
    print("Above conditions are Not satisfied, so default else condition is returned")

This is an even number

In [ ]:
if num%2 == 0:
    print("This is an even number")
elif num%3 == 1:
    print(this si )

# Multiple if

In [4]:
if number%2 == 0:
    print("This is an even number")
if number%3 == 1:
    print("This is an odd number")
if number%4 == 0:
    print("This is a multiple of 3")

This is an even number
This is an odd number
This is a multiple of 3

In [5]:
2%2

0

In [7]:
2//2

1

2//2

 ## Looping

# for, while

In [15]:
for char in 'bangalore':
    if char == 'a':
print(char)

IndentationError: expected an indented block (<ipython-input-15-b76f0af150df>, line 3)

In [16]:
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [17]:
for num in range(1, 11):
    if num%2 == 0:
        print('num {} is even'.format(num)) # String formatting
    elif num%2 == 1:
        print(f'num {num} is odd')

num 1 is odd
num 2 is even
num 3 is odd
num 4 is even
num 5 is odd
num 6 is even
num 7 is odd
num 8 is even
num 9 is odd
num 10 is even

In [18]:
num = 1

In [ ]:
num = 1
while 1 < 5:
    print("before", num)
    num -= 1
    print("after", num)

In [ ]:
i = 1
while i < 6:
    print(i)
    i +=1

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

# Data Structures

# Types: list, tuple, dictionary, set

# List:
ordered collection of heterogeneous elements of different types
Indexing (-ve and +ve)

Mutable, means you can change the list after creating

In [ ]:
cities = ['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai']

In [ ]:
cities[-3]

In [ ]:
cities[::2]

['bangalore', 'newyork', 'dhubhai']

In [ ]:
['hyderabad', 'newyork', 'shangai']

In [ ]:
['bangalore', 'newyork', 'dhubhai']

In [ ]:
cities.index('hyderabad')

1

In [ ]:
cities.append('california')

In [ ]:
cities

['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai', 'california']

In [ ]:
cities1 = ['chennai', 'delhi', 'san fransisco', 'chicago']

In [ ]:
cities.extend(cities1)

In [ ]:
cities

['bangalore',
 'hyderabad',
 'newyork',
 'shangai',
 'dhubhai',
 'california',
 'chennai',
 'delhi',
 'san fransisco',
 'chicago']

In [ ]:
cities2 = ['seattle', 'Beijing', 'London', 'paris']

In [ ]:
cities.append(cities2)

In [ ]:
cities

['bangalore',
 'hyderabad',
 'newyork',
 'shangai',
 'dhubhai',
 'california',
 'chennai',
 'delhi',
 'san fransisco',
 'chicago',
 ['seattle', 'Beijing', 'London', 'paris']]

In [ ]:
len(cities)

11

In [ ]:
cities.append(1)

In [ ]:
cities

['bangalore',
 'hyderabad',
 'newyork',
 'shangai',
 'dhubhai',
 'california',
 'chennai',
 'delhi',
 'san fransisco',
 'chicago',
 ['seattle', 'Beijing', 'London', 'paris'],
 1]

In [ ]:
cities[::-1] # Reverse a string

[1,
 ['seattle', 'Beijing', 'London', 'paris'],
 'chicago',
 'san fransisco',
 'delhi',
 'chennai',
 'california',
 'dhubhai',
 'shangai',
 'newyork',
 'hyderabad',
 'bangalore']

In [ ]:
positive_indexes [0,1,2,3,....]
negative_indexes [....,-3,-2,-1]

## Tuple

Immutable
ordered
heterogeneous
it can be used as a key for dictionary

In [ ]:
numbers = (1,2,3,4)

## Dictionary

key value pairs
separate with comma (,)
key and value separate with colon (:)
Un unordered collection of data
the keys are immutable

In [ ]:
employee_details = {'name':'Kiran',
                   'age': 20,
                   'salary':40000,
                   'phone_numer': 12233442233}

In [ ]:
employee_details

{'name': 'Kiran', 'age': 20, 'salary': 40000, 'phone_numer': 12233442233}

In [ ]:
type(employee_details)

dict

In [ ]:
employee_details['name']

'Kiran'

In [ ]:
details = employee_details.keys()

dict_keys(['name', 'age', 'salary', 'phone_numer'])

In [ ]:
type(employee_details.values())

dict_values

Assignment:

list = ['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai']
1. Find the count of elements inside a list
2. Convert each element to uppercase in a list
3. Convert each element to lowercase in a list
4. Convert each element to camelcase in a list
5. Find the prime numbers from 1 to 100
6. Print the elements staring with 'b' in a list
7. Print the elements ending with 'i' in a list
8. Print the alternate values from alist
9. reverse the string

In [ ]:
pwd

'/Users/ravidevineni/Desktop/DE_Training/7_11_22/Notebooks'